body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
.header {
  /* max-width: 430px; */
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  /* color: white; */
  /* background: rgba(8, 8, 8, 0.7); */
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  bottom: 10%;
  position: relative;
}

.title {
  font-weight: lighter;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.subnavigation {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  display: flex;
}

.item {
  padding: 5px 4rem 5px 4rem;
  font-size: 3em;
}
